@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 1rem 2rem;
  font-family: 'Arapey', serif;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-areas: "contents article aside";
}

aside {
  width: 100%;
  grid-area: contents;
}

aside > h3 {
  margin-bottom: 1rem;
}

aside > :is(p, a) {
  font-size: 0.8rem;
}

:is(aside, article > small) > a {
  text-decoration: none;
}

aside > p::after {
  content: ' \025B8';
}

html {
  font-size: 24px;
}

h1, h2, h3, small {
  font-family: 'Barlow', sans-serif;
}

article {
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  padding: 0 0.5rem;
  width: 100%;
  grid-area: article;
}

article > h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

article > h2 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  border: none;
}

article > p,
article > ol,
article > ul {
  margin-bottom: 0.75rem;
}

article > p {
  position: relative;
  line-height: 1.25rem;
}

article > p:first-of-type::first-letter {
  font-size: 2.5rem;
  float: left;
  top: 0;
  line-height: 1em;
  margin-right: 0.2rem;
}

article > p:has(+ ol),
article > p:has(+ ul) {
  margin-bottom: 0.25rem;
}

article li {
  margin-bottom: 0.25rem;
}

article > p:last-of-type {
  margin-bottom: 0;
}

article > :is(ol, ul) {
  list-style-position: outside;
  padding-left: 1rem;
}

article > small {
  display: inline-block;
}

article > small:has(~ h1) {
  margin-bottom: 1rem;
}

article > h1 ~ small {
  margin-top: 1rem;
}

article:not(#intro) > :nth-child(odd of small:has(~ h1)) > a::before,
article:not(#intro) > :nth-child(odd of h1 ~ small) > a::before
{
  content: '\025c2\00a0';
}

article > :nth-child(even of small:has(~ h1)),
article > :nth-child(even of h1 ~ small),
article#intro > small {
  float: right
}

article > :nth-child(even of small:has(~ h1)) > a::after,
article > :nth-child(even of h1 ~ small) > a::after,
article#intro > small > a::after {
  content: '\00a0\025B8';
}

header {
  padding: 2rem;
  background-color: darksalmon;
  color: white;
}

a[target="_blank"] {
  background: url(/img/newtab.png) no-repeat right center / 16px auto;
  padding-right: 20px;
}

h2 {
  border-bottom: 1px solid black;
}

small {
  font-size: 0.75rem;
}
